@import "../fonts/NoirPro/stylesheet.css";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --white: #fff;
  --black-light: #393939;
  --gray: #999;
  --gray-dark: #727272;
  --orange: #f36A1d;
  --orange-light: #f6aa7f;
  --bg-main: #cfcfcf;
  --easing-main: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easing-main-inverse: cubic-bezier(0.56, 0, 0.835, 0.16);
  --easing-second: cubic-bezier(0.77, 0, 0.175, 1);
  --easing-quick: cubic-bezier(0.215, 0.61, 0.355, 1);
  --dur-quick: 0.3s;
  --dur-main: 0.6s;
  --dur-second: 1s;
}
@media (min-width: 1025px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "NoirPro", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}

@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0;
  }
  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}

@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    transform: rotate(300deg);
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0;
  }
  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    transform: rotate(645deg);
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -o-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -moz-transform: rotate(410deg);
    -o-transform: rotate(410deg);
    transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -moz-transform: rotate(645deg);
    -o-transform: rotate(645deg);
    transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -moz-transform: rotate(770deg);
    -o-transform: rotate(770deg);
    transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}
.preloader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-main);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-duration: var(--dur-main);
  -moz-transition-duration: var(--dur-main);
  -o-transition-duration: var(--dur-main);
  transition-duration: var(--dur-main);
  -webkit-transition-timing-function: var(--easing-main);
  -moz-transition-timing-function: var(--easing-main);
  -o-transition-timing-function: var(--easing-main);
  transition-timing-function: var(--easing-main);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.preloader.active {
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
}
.preloader__ball {
  position: absolute;
  width: 5rem;
  height: 5rem;
  opacity: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-animation: orbit 6.96s infinite;
  -moz-animation: orbit 6.96s infinite;
  -o-animation: orbit 6.96s infinite;
  animation: orbit 6.96s infinite;
}
.preloader__ball:nth-of-type(1) {
  -webkit-animation-delay: 1.52s;
  -moz-animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  animation-delay: 1.52s;
}
.preloader__ball:nth-of-type(2) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.preloader__ball:nth-of-type(3) {
  -webkit-animation-delay: 0.61s;
  -moz-animation-delay: 0.61s;
  -o-animation-delay: 0.61s;
  animation-delay: 0.61s;
}
.preloader__ball:nth-of-type(4) {
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s;
}
.preloader__ball:nth-of-type(5) {
  -webkit-animation-delay: 1.22s;
  -moz-animation-delay: 1.22s;
  -o-animation-delay: 1.22s;
  animation-delay: 1.22s;
}
.preloader__ball::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: var(--black-light);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-main);
}
@media (min-width: 1025px) {
  .wrapper {
    --side-ident: 4rem;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    --side-ident: 1.5rem;
  }
}

.stub {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: var(--dur-second);
  -moz-transition-duration: var(--dur-second);
  -o-transition-duration: var(--dur-second);
  transition-duration: var(--dur-second);
  -webkit-transition-property: visibility, opacity, pointer-events;
  -o-transition-property: visibility, opacity, pointer-events;
  -moz-transition-property: visibility, opacity, pointer-events;
  transition-property: visibility, opacity, pointer-events;
  -webkit-transition-timing-function: var(--easing-quick);
  -moz-transition-timing-function: var(--easing-quick);
  -o-transition-timing-function: var(--easing-quick);
  transition-timing-function: var(--easing-quick);
}
.stub.active {
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
}
.stub__title {
  font-style: italic;
  color: #bebebe;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1025px) {
  .stub__title {
    font-size: 8.25rem;
  }
}
@media (max-width: 1024px) {
  .stub__title {
    font-size: 6rem;
  }
}
.stub__img {
  width: 59.5rem;
  max-width: -webkit-calc(100% - 4rem);
  max-width: -moz-calc(100% - 4rem);
  max-width: calc(100% - 4rem);
}

.logo {
  position: absolute;
  z-index: 1;
  right: var(--side-ident);
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
}
@media (min-width: 1024px) {
  .logo {
    top: 3.25rem;
  }
}
@media (max-width: 1024px) {
  .logo {
    top: var(--side-ident);
  }
}

.like {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 1.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 0.75rem;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.like__button {
  width: 4.5rem;
  min-width: 4.5rem;
  height: 4.5rem;
  min-height: 4.5rem;
  background-color: rgba(153, 153, 153, 0.2);
  -webkit-transition-duration: var(--dur-second);
  -moz-transition-duration: var(--dur-second);
  -o-transition-duration: var(--dur-second);
  transition-duration: var(--dur-second);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: var(--easing-quick);
  -moz-transition-timing-function: var(--easing-quick);
  -o-transition-timing-function: var(--easing-quick);
  transition-timing-function: var(--easing-quick);
}
@media (min-width: 1025px) {
  .like__button:hover, .like__button.active:hover {
    background-color: rgba(243, 109, 29, 0.1);
  }
  .like__button:hover .like__button-icon {
    color: var(--orange-light);
  }
}
.like__button.active {
  background-color: transparent;
}
.like__button.active .like__button-icon {
  color: var(--orange);
}
.like__button-icon {
  width: 100%;
  height: 100%;
  color: var(--gray-dark);
  -webkit-transition-duration: var(--dur-main);
  -moz-transition-duration: var(--dur-main);
  -o-transition-duration: var(--dur-main);
  transition-duration: var(--dur-main);
  -webkit-transition-property: color;
  -o-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: var(--easing-main);
  -moz-transition-timing-function: var(--easing-main);
  -o-transition-timing-function: var(--easing-main);
  transition-timing-function: var(--easing-main);
}
.like__counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05em;
}
.like__counter-text {
  color: var(--gray);
}
.like__counter-number {
  color: var(--orange);
}

.social__list {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.25rem;
  right: var(--side-ident);
}
@media (min-width: 1025px) {
  .social__list {
    bottom: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .social__list {
    bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.social__link {
  display: block;
  width: 2.75rem;
  min-width: 2.75rem;
  height: 2.75rem;
  min-height: 2.75rem;
}
.social__link-icon {
  width: 100%;
  height: 100%;
  color: var(--gray);
  -webkit-transition-duration: var(--dur-main);
  -moz-transition-duration: var(--dur-main);
  -o-transition-duration: var(--dur-main);
  transition-duration: var(--dur-main);
  -webkit-transition-property: color;
  -o-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: var(--easing-main);
  -moz-transition-timing-function: var(--easing-main);
  -o-transition-timing-function: var(--easing-main);
  transition-timing-function: var(--easing-main);
}
@media (min-width: 1025px) {
  .social__link:hover .social__link-icon {
    color: var(--orange);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  position: relative;
}
.swiper-wrapper::after {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-calc(100% - var(--side-ident) * 2);
  width: -moz-calc(100% - var(--side-ident) * 2);
  width: calc(100% - var(--side-ident) * 2);
  height: 2px;
  background-color: var(--orange);
  background: -webkit-gradient(linear, left top, right top, from(rgba(243, 106, 29, 0)), color-stop(48.23%, #F36A1D), color-stop(99.27%, rgba(243, 106, 29, 0)));
  background: -webkit-linear-gradient(left, rgba(243, 106, 29, 0) 0%, #F36A1D 48.23%, rgba(243, 106, 29, 0) 99.27%);
  background: -moz-linear-gradient(left, rgba(243, 106, 29, 0) 0%, #F36A1D 48.23%, rgba(243, 106, 29, 0) 99.27%);
  background: -o-linear-gradient(left, rgba(243, 106, 29, 0) 0%, #F36A1D 48.23%, rgba(243, 106, 29, 0) 99.27%);
  background: linear-gradient(90deg, rgba(243, 106, 29, 0) 0%, #F36A1D 48.23%, rgba(243, 106, 29, 0) 99.27%);
  content: "";
}
@media (min-width: 1025px) {
  .swiper-wrapper::after {
    top: 11.75rem;
  }
}
@media (max-width: 1024px) {
  .swiper-wrapper::after {
    top: 8rem;
  }
}
.swiper-button-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition-duration: var(--dur-main);
  -moz-transition-duration: var(--dur-main);
  -o-transition-duration: var(--dur-main);
  transition-duration: var(--dur-main);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: var(--easing-main);
  -moz-transition-timing-function: var(--easing-main);
  -o-transition-timing-function: var(--easing-main);
  transition-timing-function: var(--easing-main);
}
@media (min-width: 1025px) {
  .swiper-button-img {
    background-image: url(../img/icons/arrow_normal_01.svg);
  }
}
@media (max-width: 1024px) {
  .swiper-button-img {
    background-image: url(../img/icons/arrow_hover_02.svg);
  }
}
.swiper-button-img_hover {
  opacity: 0;
}
@media (min-width: 1025px) {
  .swiper-button-img_hover {
    background-image: url(../img/icons/arrow_hover_01.svg);
  }
}
@media (max-width: 1024px) {
  .swiper-button-img_hover {
    background-image: url(../img/icons/arrow_hover_02.svg);
  }
}
.swiper-button-prev, .swiper-button-next {
  position: fixed;
  z-index: 100;
  top: 50%;
  margin-top: unset;
  height: 2rem;
  opacity: 1;
  pointer-events: visible;
  -webkit-transition-duration: var(--dur-main);
  -moz-transition-duration: var(--dur-main);
  -o-transition-duration: var(--dur-main);
  transition-duration: var(--dur-main);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: var(--easing-main);
  -moz-transition-timing-function: var(--easing-main);
  -o-transition-timing-function: var(--easing-main);
  transition-timing-function: var(--easing-main);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 1025px) {
  .swiper-button-prev, .swiper-button-next {
    width: 9.75rem;
  }
  .swiper-button-prev:not(.swiper-button-disabled):hover .swiper-button-img:not(.swiper-button-img_hover), .swiper-button-next:not(.swiper-button-disabled):hover .swiper-button-img:not(.swiper-button-img_hover) {
    opacity: 0;
  }
  .swiper-button-prev:not(.swiper-button-disabled):hover .swiper-button-img_hover, .swiper-button-next:not(.swiper-button-disabled):hover .swiper-button-img_hover {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .swiper-button-prev, .swiper-button-next {
    width: 60px;
  }
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 50%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: none;
}
.swiper-button-prev {
  right: unset;
  left: var(--side-ident);
}
.swiper-button-prev .swiper-button-img {
  background-position: left;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.swiper-button-next {
  left: unset;
  right: var(--side-ident);
}
.swiper-button-next .swiper-button-img {
  background-position: right;
}
.swiper-notification {
  display: none;
}
.swiper-slide {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  z-index: 0 !important;
  background-color: var(--bg-main);
  overflow: visible !important;
}
.swiper-slide__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .swiper-slide__img {
    -o-object-position: 25%;
    object-position: 25%;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-property: object-position, -webkit-transform;
    transition-property: object-position, -webkit-transform;
    -o-transition-property: -o-object-position, -o-transform;
    -moz-transition-property: object-position, transform, -moz-transform;
    transition-property: object-position, transform;
    transition-property: object-position, transform, -o-object-position, -webkit-transform, -moz-transform, -o-transform;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
}
.swiper-slide__name {
  position: absolute;
  z-index: 100;
  left: -webkit-calc(-4 * var(--side-ident));
  left: -moz-calc(-4 * var(--side-ident));
  left: calc(-4 * var(--side-ident));
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-style: italic;
  color: var(--black-light);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-align: left;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition-duration: var(--dur-second);
  -moz-transition-duration: var(--dur-second);
  -o-transition-duration: var(--dur-second);
  transition-duration: var(--dur-second);
  -webkit-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  -moz-transition-property: left, opacity;
  transition-property: left, opacity;
  -webkit-transition-timing-function: var(--easing-quick);
  -moz-transition-timing-function: var(--easing-quick);
  -o-transition-timing-function: var(--easing-quick);
  transition-timing-function: var(--easing-quick);
}
@media (min-width: 1025px) {
  .swiper-slide__name {
    top: 1rem;
    font-size: 8.25rem;
  }
}
@media (max-width: 1024px) {
  .swiper-slide__name {
    top: 2.5rem;
    font-size: 2.75rem;
  }
}
.swiper-slide__desc {
  position: fixed;
  z-index: 30;
  left: var(--side-ident);
  max-width: 20rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: var(--gray-dark);
  font-weight: 300;
  line-height: 1.35;
  font-size: 1.25rem;
  letter-spacing: -0.05em;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  opacity: 0;
  -webkit-transition-duration: var(--dur-second);
  -moz-transition-duration: var(--dur-second);
  -o-transition-duration: var(--dur-second);
  transition-duration: var(--dur-second);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: var(--dur-main);
  -moz-transition-timing-function: var(--dur-main);
  -o-transition-timing-function: var(--dur-main);
  transition-timing-function: var(--dur-main);
}
@media (min-width: 1025px) {
  .swiper-slide__desc {
    top: 14rem;
  }
}
@media (max-width: 1024px) {
  .swiper-slide__desc {
    top: 9.75rem;
  }
}
@media (max-width: 1024px) {
  .swiper-slide-prev .swiper-slide__img {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -o-object-position: 75%;
    object-position: 75%;
  }
}
@media (max-width: 1024px) {
  .swiper-slide-next .swiper-slide__img {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -ms-transform: scale(100%);
    -o-transform: scale(100%);
    transform: scale(100%);
  }
}
@media (max-width: 1024px) {
  .swiper-slide-visible .swiper-slide__img {
    -o-object-position: 25%;
    object-position: 25%;
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
    transform: scale(105%);
  }
}
.swiper-slide-visible .swiper-slide__name {
  left: var(--side-ident);
  opacity: 1;
}
.swiper-slide-visible + .swiper-slide__desc {
  opacity: 1;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: var(--dur-second);
  -moz-transition-duration: var(--dur-second);
  -o-transition-duration: var(--dur-second);
  transition-duration: var(--dur-second);
  -webkit-transition-property: visibility, opacity, pointer-events;
  -o-transition-property: visibility, opacity, pointer-events;
  -moz-transition-property: visibility, opacity, pointer-events;
  transition-property: visibility, opacity, pointer-events;
  -webkit-transition-timing-function: var(--easing-quick);
  -moz-transition-timing-function: var(--easing-quick);
  -o-transition-timing-function: var(--easing-quick);
  transition-timing-function: var(--easing-quick);
}
.modal.active {
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
}
.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  max-width: -webkit-calc(100% - 1rem - 1rem);
  max-width: -moz-calc(100% - 1rem - 1rem);
  max-width: calc(100% - 1rem - 1rem);
  padding: 2rem;
  --text-color: var(--gray-dark);
  line-height: 1.3;
  letter-spacing: -0.05em;
  text-align: left;
  background-color: var(--black-light);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 1025px) {
  .modal__window {
    width: 34rem;
  }
}
@media (max-width: 1024px) and (orientation: portrait) {
  .modal__window {
    width: 34rem;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .modal__window {
    width: 44rem;
  }
}
.modal__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
}
.modal__close {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}
.modal__close::before, .modal__close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  margin-right: -50%;
  background-color: var(--orange);
  -webkit-transition-duration: var(--dur-main);
  -moz-transition-duration: var(--dur-main);
  -o-transition-duration: var(--dur-main);
  transition-duration: var(--dur-main);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  -moz-transition-property: transform, -moz-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform, -moz-transform, -o-transform;
  -webkit-transition-timing-function: var(--easing-main);
  -moz-transition-timing-function: var(--easing-main);
  -o-transition-timing-function: var(--easing-main);
  transition-timing-function: var(--easing-main);
  content: "";
}
.modal__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  -moz-transform: translate(-50%, -50%) rotate(135deg);
  -ms-transform: translate(-50%, -50%) rotate(135deg);
  -o-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}
.modal__close:hover::before {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  -moz-transform: translate(-50%, -50%) rotate(135deg);
  -ms-transform: translate(-50%, -50%) rotate(135deg);
  -o-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}
.modal__close:hover::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close:focus::before {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -moz-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  -o-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
}
.modal__close:focus::after {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -moz-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  -o-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}
.modal:not(.active) .modal__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -moz-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  -o-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
}
.modal:not(.active) .modal__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -moz-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  -o-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}
.modal__title:empty, .modal__subtitle:empty, .modal__text:empty {
  display: none;
}
.modal__title, .modal__subtitle {
  color: var(--text-color);
}
.modal__title {
  max-width: 75%;
  font-size: 2rem;
}
.modal__subtitle, .modal__text {
  font-weight: 300;
  font-size: 1.25rem;
}
.modal__subtitle {
  margin-top: 1rem;
}
.modal__text {
  margin-top: 1.75rem;
  color: var(--white);
}